{:deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}}}

           :nrepl {:extra-deps {cider/cider-nrepl             {:mvn/version "0.44.0"}
                                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                org.clojure/tools.deps.alpha
                                {:git/url "https://github.com/clojure/tools.deps.alpha"
                                 :git/sha "07447d8436ed27ab049efe4b8ba0e91f6c7142a6"}}}

           :nrepl-main {:extra-deps {cider/cider-nrepl             {:mvn/version "0.44.0"}
                                     refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                     org.clojure/tools.deps.alpha
                                     {:git/url "https://github.com/clojure/tools.deps.alpha"
                                      :git/sha "07447d8436ed27ab049efe4b8ba0e91f6c7142a6"}}
                        :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :nrepl-cljs {:extra-deps {cider/cider-nrepl             {:mvn/version "0.44.0"}
                                     refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                     cider/piggieback              {:mvn/version "0.5.3"}}
                        :main-opts  ["-m" "nrepl.cmdline"
                                     "--interactive"
                                     "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts  ["-m" "rebel-readline.main"]}

           :rebel-cljs {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                     org.rksm/suitable               {:mvn/version "0.3.2"}
                                     metosin/spec-tools              {:mvn/version "0.8.0"}}
                        :main-opts  ["-e" "(require,'suitable.hijack-rebel-readline-complete)"
                                     "-m" "rebel-readline.cljs.main"]}

           :zprint {:extra-deps {zprint/zprint {:mvn/version "1.2.3"}}}

           :xtdb-canary {:override-deps {com.xtdb/xtdb-core                  {:mvn/version "dev-SNAPSHOT"}
                                         com.xtdb/xtdb-http-server           {:mvn/version "dev-SNAPSHOT"}
                                         com.xtdb/xtdb-jdbc                  {:mvn/version "dev-SNAPSHOT"}
                                         com.xtdb/xtdb-lmdb                  {:mvn/version "dev-SNAPSHOT"}}}}}
