[Desktop Entry]
Type=Application
Terminal=false
Name=qpdfview
Icon=qpdfview
Exec=qpdfview
GenericName=tabbed document viewer
Comment=A tabbed document viewer using Qt and the Poppler library.
